body > footer {
  background-color: var(--colour_bg_footer);
  color: var(--colour_font_footer);
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}

body > footer a,
body > footer span {
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
}

body > footer a {
  display: inline-block;
  transition-property: background-color;
  transition-duration: var(--duration-default);
  transition-timing-function: ease-in;
  border-radius: var(--shape-radius);
}

body > footer a:hover {
  background-color: var(--colour_bg_nav_item_inverse_hover);
}

body > footer ul span {
  display: block;
}

body > footer ul ul {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 525px) {
  body > footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  body > footer a,
  body > footer span {
    font-size: 1.125rem;
  }
}

@media (min-width: 960px) {
  body > footer {
    padding-top: 2rem;
  }
  
  body > footer > nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 56.25rem;
  }
  
  body > footer > nav ul span {
    display: inline-block;
  }
  body > footer > nav ul ul {
    display: inline-flex;
  }
}