body > header {
  background-color: var(--colour_bg_header);
  text-align: center;
  padding-top: 1.75rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

body > header::after {
  content: '';
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  background-color: inherit;
  z-index: -1;
}

body > header > h1 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

body > header > h1 > a {
  display: inline-block;
  padding: 0.5rem;
}

#logo_eye {
  transition-property: transform;
  transition-duration: var(--duration-fast);
  transition-timing-function: ease-in;
  transform-origin: 50% 50%;
  transform: translate(-73px, -2px) scale(4.2, 4.2);
}

body > header > h1 > a:hover #logo_eye {
  transform: translate(-73px, -2px) scale(4.2, 0);
}

body > header > h1 > a > svg {
  width: 296px;
  height: 45px;
}

@media (min-width: 525px) {
  body > header {
    padding-top: 3.25rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 800px) {
  body > header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  body > header > h1 {
    margin-bottom: 0;
  }

  body > header > h1 > a > svg {
    width: 198px;
    height: 29px;
  }
}