body > footer ul ul a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;

  /* Hide the text for each icon */
  text-indent: -999rem;
  overflow: hidden;

  background-image: var(--url-to-icon);
  background-size: 24px 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

body > footer [href^="https://www.facebook"] {
  --url-to-icon: url('../img/social_facebook.svg');
}

body > footer [href^="https://www.twitter"] {
  --url-to-icon: url('../img/social_twitter.svg');
}

body > footer [href^="https://www.linkedin"] {
  --url-to-icon: url('../img/social_linkedin.svg');
}