body > header > nav {
  text-align: center;
}

body > header > nav ul {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}



body > header > nav a {
  display: inline-block;
  font-weight: 500;
  padding: 0.5rem 0.75rem; /* Increase the clickable area of each nav item */
  transition-property: background-color;
  transition-duration: var(--duration-default);
  transition-timing-function: ease-in;
  border-radius: var(--shape-radius);
}

body > header > nav a:hover {
  background-color: var(--colour_bg_nav_item_hover);
}

@media (min-width: 525px) {
  body > header > nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  body > header > nav a {
    font-size: 1.125rem;
  }
}

@media (min-width: 800px) {
  body > header > nav {
    flex-grow: 1;
    padding-left: 2rem;
    box-sizing: border-box;
  }

  body > header > nav ul {
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  body > header > nav li:last-child {
    flex-grow: 1;
    text-align: right;
    padding-right: 1rem;
  }
}