@import "./_element_defaults.css";
@import "./_header.css";
@import "./_nav.css";
@import "./_footer.css";
@import "./_badges.css";
@import "./_icons_social.css";
@import "./_utilities.css";
@import "./_animations.css";
@import "./_list_checkmarks.css";
@import "./_list_features.css";
@import "./_list_condensed.css";
@import "./_headings.css";
@import "./_paragraph_intro.css";
@import "./_button.css";

html {
  --colour_accent_primary: #F8A91C; 
  --colour_accent_secondary: #43B1E3; 
  --colour_bg_default: #fff;
  --colour_bg_header: #f5f6f8;
  --colour_bg_footer: #3a3d40;
  --colour_bg_nav_item_hover: rgba(0,0,0,.1);
  --colour_bg_nav_item_inverse_hover: rgba(255,255,255,.1);
  --colour_font_default: #666;
  --colour_font_footer: #ddd;
  --colour_heading_default: #333;
  --colour_line_separator: #d8d8d8;
  --duration-default: 0.2s;
  --duration-fast: 0.1s;
  --shape-radius: 0.25rem;
}